body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.back-button {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: row;
}
.poster {
    margin-right: 20px;
}
.poster img {
    width: 200px;
    height: 300px;
}
.details {
    flex: 1;
}
h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.genres {
    margin-bottom: 20px;
}
.genres span {
    background-color: #555;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 4px;
}
.trailer {
    width:100%;
    margin-bottom: 20px;
    float: right;
}
.trailer #movieDetails{
    float:right;
    width: 40%;
    height: 500px;
}

.trailer #movieDetails h1{
    font-size: 5em;
    padding-bottom: 30px;
}
.trailer #movieDetails p{

}


.trailer #movieTrailer {
    float:left;
    width: 60%;
    height: 500px;
}
.trailer iframe {
    width: 100%;
    height: 100%;
}

.cast-card {
    /* div class명을 cast-card로 변경함 */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.cast-card img {
    /* cast-card 안의 img를 지정함 */
    width: auto;
    height: 200px;
    /* width, heigt 값만 변경함 */
    /* 가로 세로 길이를 지정해버리면 img가 강제로 그 사이즈에 맞춰지는 듯 -> 찌그러져 보임 .. */
    background-color: #555;
    margin-right: 10px;
}

.comments {
    margin-bottom: 20px;
}
.comments .comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #222;
}
.comments .comment p {
    margin: 0;
}
.comments .comment .username {
    color: #aaa;
    font-weight: bold;
}
.comments .comment .timestamp {
    color: #aaa;
    font-size: 12px;
}
.comment-form {
    margin-bottom: 20px;
}
.comment-form textarea {
    width: 100%;
    height: 100px;
}
.comment-form button {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}